<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="io.belov.presentations.jooq.JooqPerformanceCollector" autowire="constructor"/>
    <bean class="io.belov.presentations.jooq.JooqPerformanceCollector.Printer" autowire="constructor">
        <constructor-arg name="delayInSeconds" value="${jooq.performance.printDelayInSeconds:0}" />
        <constructor-arg name="resetOnEachIteration" value="${jooq.performance.resetOnEachIteration:false}" />
    </bean>

</beans>